* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
html,
#box {
    width: 100%;
    height: 100%;
}

body {
    font-size: 0.32rem;
}

button {
    border: none;
    border-radius: 0.5rem;
    outline: none;
    color: #fff;
}

a {
    text-decoration: none;
}

#box {
    width: 100%;
    height: 100%;
}

#action {
    width: 4rem;
    height: 2rem;
    background: pink;
    border: none;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#mask {
    width: 100%;
    height: 100%;
    background: rgba(222, 222, 222, .5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#main {
    width: 50%;
    height: 30%;
    top: 35%;
    left: 25%;
    position: relative;
    background: #fff;
}

#close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

h1 {
    text-align: center;
    line-height: 5;
}

#main button {
    width: 3rem;
    height: 1.5rem;
    background: #f9b1be;
    margin-top: 10%;
}

#btn,
#btn2 {
    margin-left: 15%;
}